* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  color: white;
  letter-spacing: 0px;
  line-height: 1.25;
  font-weight: 400;
  text-decoration: none;
  text-rendering: geometricPrecision;
  shape-rendering: crispEdges;
  image-rendering: optimizeQuality;
  border: none;
  background: none;
  appearance: none;
  outline: none;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(200, 200, 200);
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: rgb(150, 150, 150);
  border-radius: 5px;
}
