.listingContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

    .floatingListingHeader {
        height: 80px;
        width: 100%;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 100;
        border-bottom: 1.5px solid rgba(160, 160, 160, 0.2);
        padding: 0 80px;
    }

        .floatingListingHeaderLeft {
            height: 100%;
            width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .floatingListingNavContainer {
                height: 100%;
                min-width: 50px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-right: 25px;
            }

            .floatingListingNavContainer:hover {
                border-bottom: 4px solid var(--black);
                margin-top: 4px;
                transition: linear 0.1s;
            }

            .floatingListingNavText {
                font-size: 13px;
                font-weight: bold;
            }

        .floatingListingHeaderRight {
            height: 100%;
            width: 300px;
            display: none;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

            .floatingListingHeaderRightLeft {
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .floatingListingHeaderRightLeftUpper {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                    .floatingListingHeaderRightLeftUpperPriceText {
                        font-size: 15px;
                        font-weight: bold;
                        margin-right: 4px;
                    }

                    .floatingListingHeaderRightLeftUpperNightText {
                        font-size: 14px;
                    }

                .floatingListingHeaderRightLeftLower {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                    .floatingListReviewContainer {
                        height: 100%;
                        min-width: 10%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .fa-solid.fa-star.floatingListingStar {
                        font-size: 10px;
                        margin-bottom: 2px;
                        margin-right: 3px;
                    }

                    .floatingListingReviewText {
                        font-size: 11px;
                        font-weight: bold;
                    }

                    .floatingListingDotText {
                        font-size: 8px;
                        margin-left: 3px;
                        margin-right: 3px;
                    }

                    .floatingListingReviewCountText {
                        font-size: 11px;
                        font-weight: bold;
                        color: var(--gray);
                        text-decoration: underline;
                    }

            .floatingListingHeaderRightRight {
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

                .floatingListingReserveButton {
                    height: 50px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--pink);
                    border-radius: 10px;
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                }
