.calendarContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-drag: none;
}

    .calendarMonthContainer {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        user-select: none;
        -webkit-user-drag: none;
    }

    .calendarMonthContainer.single {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

        .calendarLeftMonthContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-right: 25px;
            position: relative;
            -webkit-user-drag: none;
        }

        .calendarLeftMonthContainer.single {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            -webkit-user-drag: none;
            padding-right: 0;
        }

            .calendarLeftArrowContainer {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                -webkit-user-drag: none;
            }

            .calendarLeftArrowContainer.single {
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                -webkit-user-drag: none;
            }

                .calendarLeftArrowCircleContainer {
                    min-height: 30px;
                    min-width: 30px;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;
                    -webkit-user-drag: none;
                }

                    .calendarLeftArrowCircleContainer:hover {
                        background-color: rgba(210, 210, 210, 0.2);
                    }

                .fa-solid.fa-chevron-left.calendarLeftArrow {
                    font-size: 14px;
                    font-weight: bold;
                    -webkit-user-drag: none;
                }

            .calendarLeftMonthText {
                font-size: 15px;
                font-weight: bold;
                -webkit-user-drag: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                min-width: 100px;
            }

            .calendarRightMonthText {
                font-size: 15px;
                font-weight: bold;
                -webkit-user-drag: none;
            }

        .calendarRightMonthContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-left: 25px;
            position: relative;
            -webkit-user-drag: none;
        }

                .calendarRightArrowContainer {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    -webkit-user-drag: none;
                }

                    .calendarRightArrowCircleContainer {
                        min-height: 30px;
                        min-width: 30px;
                        height: 30px;
                        width: 30px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;
                        -webkit-user-drag: none;
                    }

                        .calendarRightArrowCircleContainer:hover {
                            background-color: rgba(210, 210, 210, 0.2);
                        }

                    .fa-solid.fa-chevron-right.calendarRightArrow {
                        font-size: 14px;
                        font-weight: bold;
                        -webkit-user-drag: none;
                    }

                    .calendarRightArrowContainer2 {
                        height: 100%;
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        -webkit-user-drag: none;
                    }

                        .calendarRightArrowCircleContainer2 {
                            min-height: 30px;
                            min-width: 30px;
                            height: 30px;
                            width: 30px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            cursor: pointer;
                            -webkit-user-drag: none;
                        }

                            .calendarRightArrowCircleContainer2:hover {
                                background-color: rgba(210, 210, 210, 0.2);
                            }

                        .fa-solid.fa-chevron-right.calendarRightArrow2 {
                            font-size: 14px;
                            font-weight: bold;
                            -webkit-user-drag: none;
                        }

    .calendarBodyContainer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        -webkit-user-drag: none;
    }

        .calendarLeftBodyContainer {
            height: 100%;
            width: 47%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-user-drag: none;
        }

        .calendarLeftBodyContainer.single {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .calendarRightBodyContainer {
            height: 100%;
            width: 47%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-user-drag: none;
        }

            /* .calendar {
                width: 100%;
            } */

            .calendar th {
                min-height: 40px;
                height: 40px;
                min-width: 40px;
                width: 40px;
                text-align: center;
                padding: 8px;
                width: calc(100% / 7);
                user-select: none;
                font-size: 12px;
                font-weight: bold;
                color: var(--gray);
            }

            .calendar td {
                min-height: 40px;
                height: 40px;
                min-width: 40px;
                width: 40px;
                text-align: center;
                width: calc(100% / 7);
                user-select: none;
                font-size: 13px;
                font-weight: bold;
                border-radius: 50%;
                cursor: pointer;
                color: var(--gray);
            }

            .calendar td.day:hover {
                border: 1.5px solid var(--black);
            }

            .calendar td.day {
                cursor: pointer;
            }

            .calendar td.selected {
                background-color: black;
                color: white;
            }

            .calendar td.in-range {
                background-color: rgba(210, 210, 210, 0.3);
            }

            .calendar td.disabled {
                color: #c1c1c1;
                text-decoration: line-through;
                cursor: not-allowed;
            }

            .calendar td.disabled:hover {
                background-color: transparent;
                border: none;
            }
