.calendarContainer {
    height: 100%;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-drag: none;
}

    .calendarMonthContainer {
        height: 10%;
        width: 628px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        user-select: none;
        -webkit-user-drag: none;
    }

        .calendarLeftMonthContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 25px;
            position: relative;
            -webkit-user-drag: none;
        }

            .calendarLeftArrowCircleContainer:hover {
                background-color: rgba(150, 150, 150, 0.2);
            }

            .calendarLeftArrowContainer {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                position: absolute;
                -webkit-user-drag: none;
            }

                .calendarLeftArrowCircleContainer {
                    min-height: 30px;
                    min-width: 30px;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;
                    -webkit-user-drag: none;
                }

                    .calendarLeftArrowCircleContainer:hover {
                        background-color: rgba(160, 160, 160, 0.2);
                    }

                .fa-solid.fa-chevron-left.calendarLeftArrow {
                    font-size: 14px;
                    font-weight: bold;
                    -webkit-user-drag: none;
                }

            .calendarLeftMonthText {
                font-size: 15px;
                font-weight: bold;
                -webkit-user-drag: none;
            }

            .calendarRightMonthText {
                font-size: 15px;
                font-weight: bold;
                -webkit-user-drag: none;
            }

        .calendarRightMonthContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: 25px;
            position: relative;
            -webkit-user-drag: none;
        }

                .calendarRightArrowContainer {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    -webkit-user-drag: none;
                }

                    .calendarRightArrowCircleContainer {
                        min-height: 30px;
                        min-width: 30px;
                        height: 30px;
                        width: 30px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;
                        -webkit-user-drag: none;
                    }

                        .calendarRightArrowCircleContainer:hover {
                            background-color: rgba(150, 150, 150, 0.1);
                        }

                    .fa-solid.fa-chevron-right.calendarRightArrow {
                        font-size: 14px;
                        font-weight: bold;
                        -webkit-user-drag: none;
                    }

    .calendarBodyContainer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        -webkit-user-drag: none;
    }

        .calendarLeftBodyContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-user-drag: none;
        }

            .calendarLeft {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 25px;
                user-select: none;
                -webkit-user-drag: none;
            }

            .calendarRight {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 25px;
                user-select: none;
                -webkit-user-drag: none;
            }

                thead {
                    height: 15%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    -webkit-user-drag: none;
                }

                    th {
                        min-height: 42px;
                        height: 42px;
                        min-width: 42px;
                        width: 42px;
                        text-align: center;
                        font-size: 12px;
                        font-weight: bold;
                        color: var(--gray);
                        -webkit-user-drag: none;
                    }

                tbody {
                    height: 85%;
                    width: 100%;
                    -webkit-user-drag: none;
                }

                    tr {
                        width: 100%;
                        -webkit-user-drag: none;
                    }

                    /* 56 for 1 calendar */
                        td {
                            min-height: 42px;
                            height: 42px;
                            min-width: 42px;
                            width: 42px;
                            text-align: center;
                            font-size: 13px;
                            font-weight: bold;
                            border-radius: 50%;
                            cursor: pointer;
                            -webkit-user-drag: none;
                        }

                            td:hover {
                                border: 1.5px solid var(--black);
                            }

        .calendarRightBodyContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-user-drag: none;
        }
