.calendarContainer {
    height: 100%;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-drag: none;
}

    .calendarMonthContainer {
        height: 10%;
        width: 628px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        user-select: none;
        -webkit-user-drag: none;
    }

        .calendarLeftMonthContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 25px;
            position: relative;
            -webkit-user-drag: none;
        }

            .calendarLeftArrowCircleContainer:hover {
                background-color: rgba(150, 150, 150, 0.2);
            }

            .calendarLeftArrowContainer {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                position: absolute;
                -webkit-user-drag: none;
            }

                .calendarLeftArrowCircleContainer {
                    min-height: 30px;
                    min-width: 30px;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;
                    -webkit-user-drag: none;
                }

                    .calendarLeftArrowCircleContainer:hover {
                        background-color: rgba(160, 160, 160, 0.2);
                    }

                .fa-solid.fa-chevron-left.calendarLeftArrow {
                    font-size: 14px;
                    font-weight: bold;
                    -webkit-user-drag: none;
                }

            .calendarLeftMonthText {
                font-size: 15px;
                font-weight: bold;
                -webkit-user-drag: none;
            }

            .calendarRightMonthText {
                font-size: 15px;
                font-weight: bold;
                -webkit-user-drag: none;
            }

        .calendarRightMonthContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: 25px;
            position: relative;
            -webkit-user-drag: none;
        }

                .calendarRightArrowContainer {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    -webkit-user-drag: none;
                }

                    .calendarRightArrowCircleContainer {
                        min-height: 30px;
                        min-width: 30px;
                        height: 30px;
                        width: 30px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;
                        -webkit-user-drag: none;
                    }

                        .calendarRightArrowCircleContainer:hover {
                            background-color: rgba(150, 150, 150, 0.1);
                        }

                    .fa-solid.fa-chevron-right.calendarRightArrow {
                        font-size: 14px;
                        font-weight: bold;
                        -webkit-user-drag: none;
                    }

    .calendarBodyContainer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        -webkit-user-drag: none;
    }

        .calendarLeftBodyContainer {
            height: 100%;
            width: 47%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-user-drag: none;
        }


        .calendarRightBodyContainer {
            height: 100%;
            width: 47%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            -webkit-user-drag: none;
        }

            .calendar {
                width: 100%;
            }

            .calendar th {
                min-height: 40px;
                height: 40px;
                min-width: 40px;
                width: 40px;
                text-align: center;
                padding: 8px;
                width: calc(100% / 7);
                user-select: none;
                font-size: 12px;
                font-weight: bold;
                color: var(--gray);
            }

            .calendar td {
                min-height: 40px;
                height: 40px;
                min-width: 40px;
                width: 40px;
                text-align: center;
                width: calc(100% / 7);
                user-select: none;
                font-size: 13px;
                font-weight: bold;
                border-radius: 50%;
                cursor: pointer;
                color: var(--gray);
            }

            .calendar td.day:hover {
                border: 1.5px solid var(--black);
            }

            .calendar td.day {
                cursor: pointer;
              }

              .calendar td.selected {
                background-color: black;
                color: white;
              }

              .calendar td.in-range {
                background-color: gray;
              }
