.homeHeaderContainer {
    height: 180px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    position: -webkit-sticky !important;
    top: 0;
    background-color: white;
    z-index: 100;
}

.homeHeader2SearchDropdownContainer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    background-color: white;
}

.homeHeader2SearchDropdown {
    height: 65px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.1s linear;
    border: 1px solid rgba(112, 112, 112, 0.2);
    /* background-color: rgba(172, 172, 172, 0.2); */
    background-color: white;
    position: relative;
}

.homeSearch2ResetButton {
    height: 45px;
    min-width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--pink);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
}

.homeHeader2SearchDropdownBackdrop {
    position: absolute;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: calc(100vh - 180px);
    width: 100%;
}

.homeHeaderProfileDropdownContainer {
    min-height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
    top: 80px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .homeHeaderProfileDropdownOption {
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding: 10px 20px;
    }

    .homeHeaderProfileDropdownOption:hover {
        background-color: rgba(172, 172, 172, 0.2);
    }

        .homeHeaderProfileDropdownOptionText {
            font-size: 14px;
        }

.homeHeader2SearchDropdownPlacesContainer {
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 210px;
    top: 100px;
    background-color: white;
    border-radius: 20px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.homeHeader2SearchDropdownCalendarsContainer {
    height: 450px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 212px;
    top: 100px;
    background-color: white;
    border-radius: 20px;
    overflow-y: hidden;
}

.homeHeader2SearchDropdownGuestsContainer {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 210px;
    top: 100px;
    background-color: white;
    border-radius: 20px;
    overflow-y: hidden;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.homeHeader2SearchDropdownGuestContainer {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(172, 172, 172, 0.3);
}

.homeHeader2SearchDropdownGuestContainer2 {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homeHeader2SearchDropdownGuestContainer3 {
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(172, 172, 172, 0.3);
}

.homeHeader2SearchDropdownGuestContainer4 {
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .homeHeader2SearchDropdownGuestContainerLeft {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

        .homeHeader2SearchDropdownGuestContainerLeftText1 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 7px;
        }

        .homeHeader2SearchDropdownGuestContainerLeftText2 {
            font-size: 13px;
            color: var(--gray);
        }

    .homeHeader2SearchDropdownGuestContainerRight {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

        .homeHeader2SearchDropdownGuestContainerRightIconContainer {
            min-height: 35px;
            min-width: 35px;
            border-radius: 50%;
            border: 1px solid rgba(172, 172, 172, 0.3);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

            .homeHeader2SearchDropdownGuestContainerRightIcon {
                font-size: 20px;
                font-weight: bold;
                color: var(--gray);
            }

            .homeHeader2SearchDropdownGuestContainerRightNumber {
                font-size: 16px;
                margin-left: 15px;
                margin-right: 15px;
            }

    .homeHeader2SearchDropdownCalendars {
        min-height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
    }

    .listingBodyMainLeftCalendarFooterTextContainer2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        -webkit-user-drag: none;
        user-select: none;
        padding: 0 80px;
    }

    .listingBodyMainLeftCalendarFooterText2 {
        height: 35px;
        width: 90px;
        border-radius: 5px;
        font-size: 13.5px;
        font-weight: bold;
        text-decoration: underline;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        transition: 0.1s linear;
    }

    .listingBodyMainLeftCalendarFooterText2:hover {
        background-color: rgba(165, 165, 165, 0.1);
    }

    .listingBodyMainLeftCalendarFooterText2:active {
        height: 34px;
        width: 88px;
        font-size: 13px;
        transition: 0.1s linear;
        margin-right: 1px;
    }

    .homeHeader2SearchDropdownPlaceContainer {
        min-height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: var(--black);
        padding: 10px 30px;
        cursor: pointer;
        margin-bottom: 15px;
    }

    .homeHeader2SearchDropdownPlaceContainer:hover {
        background-color: rgb(236, 236, 236);
    }

        .fa-solid.fa-location-dot.homeHeader2SearchDropdownPlaceIcon {
            min-height: 40px;
            min-width: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgb(236, 236, 236);
            border-radius: 10px;
            font-size: 20px;
            margin-right: 20px;
        }

        .homeHeader2SearchDropdownPlaceText {
            font-size: 15px;
        }

    .homeHeader2SearchDropdownWhere {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
        border-right: 1px solid rgba(172, 172, 172, 0.3);
    }

    .homeHeader2SearchDropdownCheckIn {
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
        border-right: 1px solid rgba(172, 172, 172, 0.3);
    }

        .homeHeader2SearchDropdownSubHeader {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .homeHeader2SearchDropdownSubText {
            font-size: 13.4px;
            color: rgb(168, 168, 168)
        }

        .homeHeader2SearchDropdownSubText2 {
            font-size: 13.4px;
            color: var(--black);
            font-weight: bold;
        }

        .homeHeader2SearchDropdownSubInput {
            font-size: 13.4px;
            color: var(--black);
            font-weight: bold;
            width: 100%;
        }

        .homeHeader2SearchDropdownSubInput::placeholder {
            color: rgb(168, 168, 168);
            font-weight: normal;
        }

    .homeHeader2SearchDropdownCheckOut {
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
        border-right: 1px solid rgba(172, 172, 172, 0.3);
    }

    .homeHeader2SearchDropdownWho {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .homeHeader2SearchDropdownSearchContainer {
        min-height: 45px;
        min-width: 45px;
        background-color: var(--pink);
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
    }

        .fa-solid.fa-magnifying-glass.homeHeader2SearchDropdownSearchIcon {
            color: white;
            font-size: 16px;
        }

.homeHeaderContainer2 {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeHeaderContainerListing {
    height: 80px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 100;
}

    .homeHeader1Container {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1.5px solid rgba(100, 100, 100, 0.1);
        padding: 0 40px;
    }

        .homeHeader1Container2 {
            height: 80px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1.5px solid rgba(100, 100, 100, 0.1);
            padding: 0 80px;
        }

        .homeHeader1LogoContainer {
            height: 100%;
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .homeHeader1Logo {
                height: 32px;
                width: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

        .homeHeader1SearchContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

            .homeHeader1Search {
                height: 45px;
                width: 350px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                padding: 10px 5px;
                cursor: pointer;
                transition: 0.1s linear;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }

            .homeHeader2Search {
                height: 45px;
                width: 300px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                padding: 10px 5px;
                cursor: pointer;
                transition: 0.1s linear;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }

            .homeHeader1Search:hover {
                transition: 0.1s linear;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            }

                .homeHeader1AnywhereContainer {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                    .homeHeader1SearchText1 {
                        font-size: 13.5px;
                        font-weight: bold;
                        color: var(--black);
                    }

                    .homeHeader1SearchText2 {
                        font-size: 13.5px;
                        color: var(--gray);
                        font-weight: normal;
                    }

                .homeHeader1AnyWeekContainer {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-left: 1.5px solid rgba(0, 0, 0, 0.1);
                    border-right: 1.5px solid rgba(0, 0, 0, 0.1);
                }

                .homeHeader1AddGuestsContainer {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                .homeHeader1StartSearchContainer {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 20px;
                }

                    .homeHeader1StartSearchText {
                        font-size: 13px;
                        color: var(--black);
                        font-weight: bold;
                    }

                .homeHeader1SearchButtonContainer {
                    min-height: 32px;
                    height: 32px;
                    min-width: 32px;
                    width: 32px;
                    border-radius: 50%;
                    background-color: var(--pink);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                    .fa-solid.fa-magnifying-glass.homeHeader1SearchButton {
                        font-size: 13px;
                        color: white;
                    }

        .homeHeader1RightContainer {
            height: 100%;
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

            .homeHeader1AddHomeContainer {
                height: 40px;
                width: 150px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                cursor: pointer;
                margin-right: 15px;
            }

            .homeHeader1AddHomeContainer:hover {
                background-color: rgba(172, 172, 172, 0.1);
            }

             .homeHeader1AddHomeText {
                font-size: 13.5px;
                color: var(--black);
                font-weight: bold;
             }

            .homeHeader1UserContainer {
                height: 40px;
                width: 80px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 30px;
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 7px;
                padding-left: 12px;
                transition: 0.1s linear;
            }

            .homeHeader1UserContainer:hover {
                transition: 0.1s linear;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            }

                .fa-solid.fa-bars.homeHeader1UserMenuBars {
                    font-size: 15px;
                    color: var(--black);
                }

                .homeHeader1UserPicture {
                    height: 30px;
                    width: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }

    .homeHeader2Container {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

        .homeHeader2CategoriesContainer {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

            .homeHeader2CategoryContainer {
                height: 80px;
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0 10px;
            }

            .homeHeader2CategoryContainer1 {
                height: 80px;
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0 10px;
                margin-right: 0px;
            }

            .homeHeader2CategoryContainer2 {
                height: 80px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-right: 12px;
            }

                .homeHeader2CategoryIcon {
                    font-size: 20px;
                    margin-bottom: 10px;
                    color: var(--pink);
                }

                .homeHeader2CategoryIconSelectedAll {
                    font-size: 20px;
                    color: var(--pink);
                    margin-bottom: 10px;
                }

                .homeHeader2CategoryIconSelectedBeachfront {
                    font-size: 20px;
                    color: rgba(255, 170, 0, 1);
                    margin-bottom: 10px;
                }


                .homeHeader2CategoryIconSelectedAmazingViews {
                    font-size: 20px;
                    color: rgb(61, 141, 187);
                    margin-bottom: 10px;
                }


                .homeHeader2CategoryIconSelectedTreeHouses {
                    font-size: 20px;
                    color: rgb(35, 78, 55);
                    margin-bottom: 10px;
                }


                .homeHeader2CategoryText {
                    font-size: 12px;
                    color: var(--gray);
                    font-weight: bold;
                }



.homeHeader1SearchContainerMedia {
    display: none;
}

.homeHeader1SearchContainerMediaFull {
    display: none;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhere {
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(168, 168, 168, 0.2);
    padding: 24px;
    margin-bottom: 20px;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhereTitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhereInputContainer {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(165, 165, 165, 4);
}

.fa-solid.fa-magnifying-glass.homeHeader1SearchContainerMediaFullBodyOptionWhereInputContainerIcon {
    font-size: 18px;
    margin-right: 15px;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhereInput {
    font-size: 13.4px;
    color: var(--black);
    font-weight: bold;
    width: 100%;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhereInput::placeholder {
    color: rgb(168, 168, 168);
    font-weight: bold;
}

.homeHeader2SearchDropdownPlacesContainer2 {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 99;
    left: 44px;
    right: 44px;
    top: 302px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhen {
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(168, 168, 168, 0.2);
    padding: 24px;
    margin-bottom: 20px;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhenTitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhenCalendar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhenButtonsContainer {
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhenButton {
    height: 40px;
    min-width: 80px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--black);
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homeHeader1SearchContainerMediaFullBodyOptionWho {
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(168, 168, 168, 0.2);
    padding: 24px;
    margin-bottom: 20px;
}

.homeHeader1SearchContainerMediaFullBodyOptionWhoTitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.homeSearchMediaSubmitButtons {
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homeSearchMediaSubmitButton {
    height: 45px;
    min-width: 100px;
    padding: 10px 25px;
    background-color: var(--pink);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fa-solid.fa-magnifying-glass.homeSearchMediaSubmitButtonIcon {
    font-size: 16px;
    margin-right: 10px;
    color: white;
}

.homeSearchMediaSubmitButtonText {
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.homeSearchMediaSubmitButton2 {
    height: 45px;
    min-width: 100px;
    padding: 10px 25px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(168, 168, 168, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homeSearchMediaSubmitButtonText2 {
    font-size: 14px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .homeHeader2SearchDropdownCalendarsContainer {
        width: 600px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 950px) {
    .homeHeader1LogoContainer {
        width: 20%;
    }

    .homeHeader1RightContainer {
        width: 40%;
    }

    .homeHeader2SearchDropdown {
        width: 600px;
    }

    .homeHeader2SearchDropdownWhere {
        padding: 0 5px;
    }

    .homeHeader2SearchDropdownCheckIn {
        padding: 0 5px;
    }

    .homeHeader2SearchDropdownCheckOut {
        padding: 0 5px;
    }

    .homeHeader2SearchDropdownWho {
        padding: 0 5px;
    }

    .homeSearch2ResetButton {
        width: 80px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 800px) {
    .homeHeader1LogoContainer {
        display: none;
    }

    .homeHeader1SearchContainer {
        display: none;
    }

    .homeHeader1RightContainer {
        display: none;
    }

    .homeHeader1Container {
        padding: 0 20px;
        height: 100px;
    }

    .homeHeader1SearchContainerMedia {
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 30px;
        border: 1px solid rgba(165, 165, 165, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
        padding: 10px 20px;
    }

    .fa-solid.fa-magnifying-glass.homeHeader1SearchContainerMediaIcon {
        color: var(--black);
        margin-right: 20px;
        font-size: 18px;
    }

    .homeHeader1SearchContainerMediaTextContainer {
        height: 100%;
        min-width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

        .homeHeader1SearchContainerMediaTextContainerUpper {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 13px;
            font-weight: bold;
        }

        .homeHeader1SearchContainerMediaTextContainerLower {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .homeHeader1SearchContainerMediaTextContainerLowerLeft {
                font-size: 12px;
                color: var(--gray);
            }

            .homeHeader1SearchContainerMediaTextContainerLowerMiddle {
                font-size: 12px;
                color: var(--gray);
                margin-left: 4px;
                margin-right: 4px;
            }

            .homeHeader1SearchContainerMediaTextContainerLowerRight {
                font-size: 12px;
                color: var(--gray);
            }

            .homeHeader1SearchContainerMediaFull {
                min-height: 900px;
                height: 100vh;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: rgb(244, 244, 244);
                z-index: 99;
                padding: 20px 20px;
                padding-bottom: 80px;
            }

            .homeHeader1SearchContainerMediaFullIconContainer {
                min-height: 50px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-left: 20px;
                margin-bottom: 20px;
            }

            .homeHeader1SearchContainerMediaFullIconContainerInner {
                min-height: 32px;
                min-width: 32px;
                max-height: 32px;
                max-width: 32px;
                border-radius: 50%;
                background-color: white;
                border: 1px solid rgb(168, 168, 168);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .fa-solid.fa-x.homeHeader1SearchContainerMediaFullIcon {
                font-size: 12px;
            }

            .homeHeader1SearchContainerMediaFullBody {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            .homeHeader1SearchContainerMediaFullBodyOption {
                height: 60px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 20px;
                border: 1px solid rgba(165, 165, 165, 0.2);
                box-shadow: 0 0 10px rgba(12, 12, 12, 0.1);
                padding: 10px 20px;
                margin-bottom: 20px;
            }

            .homeHeader1SearchContainerMediaFullBodyOptionLeft {
                font-size: 14px;
                color: var(--gray);
                font-weight: bold;
            }

            .homeHeader1SearchContainerMediaFullBodyOptionRight {
                font-size: 14px;
                font-weight: bold;
            }
}
