.homeHeaderContainer {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    position: -webkit-sticky !important;
    top: 0;
    background-color: white;
    z-index: 100;
}

.homeHeader2SearchDropdownContainer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    background-color: white;
}

.homeHeader2SearchDropdown {
    height: 65px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.1s linear;
    border: 1px solid rgba(112, 112, 112, 0.2);
    /* background-color: rgba(172, 172, 172, 0.2); */
    background-color: white;
    position: relative;
}

.homeHeader2SearchDropdownBackdrop {
    position: absolute;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    width: 100%;
}

.homeHeader2SearchDropdownPlacesContainer {
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 210px;
    top: 100px;
    background-color: white;
    border-radius: 20px;
    overflow-y: hidden;
}

.homeHeader2SearchDropdownCalendarsContainer {
    height: 450px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 212px;
    top: 100px;
    background-color: white;
    border-radius: 20px;
    overflow-y: hidden;
}

    .homeHeader2SearchDropdownCalendars {
        min-height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .listingBodyMainLeftCalendarFooterTextContainer2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        -webkit-user-drag: none;
        user-select: none;
        padding: 0 80px;
    }

    .listingBodyMainLeftCalendarFooterText2 {
        height: 35px;
        width: 90px;
        border-radius: 5px;
        font-size: 13.5px;
        font-weight: bold;
        text-decoration: underline;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        transition: 0.1s linear;
    }

    .listingBodyMainLeftCalendarFooterText2:hover {
        background-color: rgba(165, 165, 165, 0.1);
    }

    .listingBodyMainLeftCalendarFooterText2:active {
        height: 34px;
        width: 88px;
        font-size: 13px;
        transition: 0.1s linear;
        margin-right: 1px;
    }

    .homeHeader2SearchDropdownPlaceContainer {
        min-height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: var(--black);
        padding: 10px 30px;
        cursor: pointer;
    }

    .homeHeader2SearchDropdownPlaceContainer:hover {
        background-color: rgb(236, 236, 236);
    }

        .fa-solid.fa-location-dot.homeHeader2SearchDropdownPlaceIcon {
            min-height: 40px;
            min-width: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgb(236, 236, 236);
            border-radius: 10px;
            font-size: 20px;
            margin-right: 20px;
        }

        .homeHeader2SearchDropdownPlaceText {
            font-size: 15px;
        }

    .homeHeader2SearchDropdownWhere {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
        border-right: 1px solid rgba(172, 172, 172, 0.3);
    }

    .homeHeader2SearchDropdownCheckIn {
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
        border-right: 1px solid rgba(172, 172, 172, 0.3);
    }

        .homeHeader2SearchDropdownSubHeader {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .homeHeader2SearchDropdownSubText {
            font-size: 13.4px;
            color: rgb(168, 168, 168)
        }

        .homeHeader2SearchDropdownSubInput {
            font-size: 13.4px;
            color: var(--black);
            font-weight: bold;
            width: 100%;
        }

        .homeHeader2SearchDropdownSubInput::placeholder {
            color: rgb(168, 168, 168);
            font-weight: normal;
        }

    .homeHeader2SearchDropdownCheckOut {
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
        border-right: 1px solid rgba(172, 172, 172, 0.3);
    }

    .homeHeader2SearchDropdownWho {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .homeHeader2SearchDropdownSearchContainer {
        min-height: 45px;
        min-width: 45px;
        background-color: var(--pink);
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
    }

        .fa-solid.fa-magnifying-glass.homeHeader2SearchDropdownSearchIcon {
            color: white;
            font-size: 16px;
        }

.homeHeaderContainer2 {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeHeaderContainerListing {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 100;
}

    .homeHeader1Container {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1.5px solid rgba(100, 100, 100, 0.1);
        padding: 0 40px;
    }

        .homeHeader1Container2 {
            height: 80px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1.5px solid rgba(100, 100, 100, 0.1);
            padding: 0 80px;
        }

        .homeHeader1LogoContainer {
            height: 100%;
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .homeHeader1Logo {
                height: 32px;
                width: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

        .homeHeader1SearchContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

            .homeHeader1Search {
                height: 45px;
                width: 350px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                padding: 10px 5px;
                cursor: pointer;
                transition: 0.1s linear;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }

            .homeHeader2Search {
                height: 45px;
                width: 300px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                padding: 10px 5px;
                cursor: pointer;
                transition: 0.1s linear;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }

            .homeHeader1Search:hover {
                transition: 0.1s linear;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            }

                .homeHeader1AnywhereContainer {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                    .homeHeader1SearchText1 {
                        font-size: 13.5px;
                        font-weight: bold;
                        color: var(--black);
                    }

                    .homeHeader1SearchText2 {
                        font-size: 13.5px;
                        color: var(--gray);
                        font-weight: normal;
                    }

                .homeHeader1AnyWeekContainer {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-left: 1.5px solid rgba(0, 0, 0, 0.1);
                    border-right: 1.5px solid rgba(0, 0, 0, 0.1);
                }

                .homeHeader1AddGuestsContainer {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                .homeHeader1StartSearchContainer {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 20px;
                }

                    .homeHeader1StartSearchText {
                        font-size: 13px;
                        color: var(--black);
                        font-weight: bold;
                    }

                .homeHeader1SearchButtonContainer {
                    min-height: 32px;
                    height: 32px;
                    min-width: 32px;
                    width: 32px;
                    border-radius: 50%;
                    background-color: var(--pink);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                    .fa-solid.fa-magnifying-glass.homeHeader1SearchButton {
                        font-size: 13px;
                        color: white;
                    }

        .homeHeader1RightContainer {
            height: 100%;
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

            .homeHeader1AddHomeContainer {
                height: 40px;
                width: 150px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                cursor: pointer;
                margin-right: 15px;
            }

            .homeHeader1AddHomeContainer:hover {
                background-color: rgba(172, 172, 172, 0.1);
            }

             .homeHeader1AddHomeText {
                font-size: 13.5px;
                color: var(--black);
                font-weight: bold;
             }

            .homeHeader1UserContainer {
                height: 40px;
                width: 80px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 30px;
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 7px;
                padding-left: 12px;
                transition: 0.1s linear;
            }

            .homeHeader1UserContainer:hover {
                transition: 0.1s linear;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            }

                .fa-solid.fa-bars.homeHeader1UserMenuBars {
                    font-size: 15px;
                    color: var(--black);
                }

                .homeHeader1UserPicture {
                    height: 30px;
                    width: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }

    .homeHeader2Container {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

        .homeHeader2CategoriesContainer {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

            .homeHeader2CategoryContainer {
                height: 80px;
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0 10px;
            }

            .homeHeader2CategoryContainer1 {
                height: 80px;
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0 10px;
                margin-right: 0px;
            }

            .homeHeader2CategoryContainer2 {
                height: 80px;
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0 10px;
                margin-left: 0px;
            }

                .homeHeader2CategoryIcon {
                    font-size: 20px;
                    color: var(--gray);
                    margin-bottom: 10px;
                }

                .homeHeader2CategoryText {
                    font-size: 12px;
                    color: var(--gray);
                    font-weight: bold;
                }
