.listingBodyContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 80px;
    margin: 20px 0;
}

    .listingBodyIntroContainer {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

        .listingBodyTitleContainer {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .listingBodyTitleText {
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 0.5px;
            }

        .listingBodyInfoContainer {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            .listingBodyInfoContainerLeft {
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

                .listingBodyReviewContainer {
                    height: 100%;
                    width: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                    .fa-solid.fa-star.listingBodyStar {
                        font-size: 12px;
                        margin-bottom: 1px;
                        margin-right: 2px;
                    }

                    .listingBodyDotText {
                        opacity: 0.8;
                        font-size: 10px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .listingBodyReviewText {
                        font-size: 13px;
                        font-weight: bold;
                    }

                .listingBodyReviewCountText {
                    font-size: 13px;
                    font-weight: bold;
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    cursor: pointer;
                }

                .listingBodyLocationText {
                    font-size: 13px;
                    font-weight: bold;
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    cursor: pointer;
                }

            .listingBodyInfoContainerRight {
                height: 100%;
                width: 20%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }

                .listingBodySaveContainer {
                    height: 35px;
                    width: 80px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 5px;
                }

                .listingBodySaveContainer:hover {
                    background-color: rgba(165, 165, 165, 0.1);
                }

                    .fa-regular.fa-heart.listingBodySaveHeart {
                        font-size: 15px;
                        margin-right: 7px;
                    }

                    .listingBodySaveText {
                        font-size: 13px;
                        font-weight: bold;
                        text-decoration: underline;
                        text-decoration-thickness: 1px;
                    }

    .listingBodyImagesContainer {
        height: 500px;
        width: 100%;
        display: grid;
        place-items: center;
        border-radius: 10px;
        margin-top: 20px;
        overflow: hidden;
        grid-template-areas:
            "listingBodyMainImage listingBodyMainImage listingBodySubImage1 listingBodySubImage2"
            "listingBodyMainImage listingBodyMainImage listingBodySubImage3 listingBodySubImage4";
        gap: 10px;
    }

        .listingBodyMainImageContainer {
            grid-area: listingBodyMainImage;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .listingBodyMainImage {
                height: 100%;
                width: 100%;
                background-image: url(../../Images/home1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                transition: 0.1s linear;
            }

        .listingBodySubImageContainer {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .listingBodySubImage {
                height: 100%;
                width: 100%;
                background-image: url(../../Images/home1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                transition: 0.1s linear;
            }

        #listingBodySubImage1 {
            grid-area: listingBodySubImage1;
        }

        #listingBodySubImage2 {
            grid-area: listingBodySubImage2;
        }

        #listingBodySubImage3 {
            grid-area: listingBodySubImage3;
        }

        #listingBodySubImage4 {
            grid-area: listingBodySubImage4;
        }

    .listingBodyMainContainer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px 0;
    }

        .listingBodyMainLeftContainer {
            height: 100%;
            width: 58.33%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .listingBodyMainLeftHostedContainer {
            height: 100px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(100, 100, 100, 0.3);
        }

            .listingBodyMainLeftHostedLeftContainer {
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

                .listingBodyMainLeftHostedLeftTitleContainer {
                    height: 40%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                    .listingBodyMainLeftHostedLeftTitleText {
                        font-size: 21px;
                        font-weight: bold;
                    }

                .listingBodyMainLeftHostedLeftInfoContainer {
                    height: 40%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                    .listingBodyMainLeftHostedLeftInfoText {
                        font-size: 15px;
                    }

                    .listingBodyMainLeftHostedLeftDotText {
                        font-size: 8px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

            .listingBodyMainRightHostedRightContainer {
                height: 100%;
                width: 20%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding-bottom: 21px;
            }

                .listingBodyMainRightHostedRightImage {
                    min-height: 58px;
                    min-width: 58px;
                    height: 58px;
                    width: 58px;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

        .listingBodyMainLeftCheckContainer {
            height: 150px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
        }

            .listingBodyMainLeftCheckSubContainer {
                height: 50px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

                .listingBodyMainLeftCheckSubLeftContainer {
                    height: 100%;
                    min-width: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                    .fa-solid.fa-door-closed.listingBodyMainLeftCheckSubLeftDoor {
                        font-size: 20px;
                    }

                    .fa-solid.fa-calendar.listingBodyMainLeftCheckSubLeftCalendar {
                        font-size: 20px;
                    }

                .listingBodyMainLeftCheckSubRightContainer {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                    .listingBodyMainLeftCheckSubRightText {
                        font-size: 15px;
                        font-weight: bold;
                    }

        .listingBodyMainLeftAircoverContainer {
            height: 200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .listingBodyMainLeftDescriptionContainer {
            height: 250px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .listingBodyMainLeftAmenitiesContainer {
            height: 400px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .listingBodyMainLeftCalendarContainer {
            height: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .listingBodyMainRightContainer {
            height: 100%;
            width: 33.33%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
