.profileBodyContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px;
    margin-top: 50px;
}

    .profileBodyLeftContainer {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

        .profileBodyLeftUserInfoContainer {
            height: 250px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: 1px solid rgba(160, 160, 160, 0.4);
            padding: 20px;
            padding-bottom: 10px;
            padding-top: 0px;
        }

            .profileBodyLeftUserInfoUpperContainer {
                height: 80%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

                .profileBodyLeftUserInfoUpperPic {
                    height: 120px;
                    width: 120px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }

            .profileBodyLeftUserInfoLowerContainer {
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

                .fa-regular.fa-star.profileBodyLeftUserInfoLowerStar {
                    font-size: 20px;
                    margin-right: 7px;
                    margin-bottom: 2px;
                }

                .profileBodyLeftUserInfoLowerReviewText {
                    font-size: 15px;
                    font-weight: bold;
                }

    .profileBodyRightContainer {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 80px;
    }

        .profileBodyRightIntroContainer {
            min-height: 200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(160, 160, 160, 0.4);
        }

            .profileBodyRightIntroNameDateContainer {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 30px;
            }

                .profileBodyRightIntroNameText {
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .profileBodyRightIntroDateText {
                    font-size: 14px;
                    color: var(--gray);
                }

            .profileBodyRightIntroAboutContainer {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

                .profileBodyRightIntroAboutText {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 30px;
                }

                .profileBodyRightIntroAboutDesc {
                    font-size: 16px;
                    margin-bottom: 30px;
                    line-height: 1.6;
                }

                .profileBodyRightIntroLivesContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 30px;
                }

                    .fa-solid.fa-house.profileBodyRightIntroLivesHouse {
                        font-size: 16px;
                        margin-bottom: 3px;
                        margin-right: 8px;
                    }

                    .profileBodyRightIntroLivesText {
                        font-size: 15px;
                    }

        .profileBodyListingsContainer {
            height: 350px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

            .profileBodyListingsHeaderText {
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
                font-weight: bold;
            }

            .profileBodyListingsBodyContainer {
                height: 80%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: relative;
            }

                /* .profileBodyListingsBodyOverlayContainer {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    padding: 0 10px;
                    padding-bottom: 70px;
                    z-index: 0;
                } */

                    .profileBodyListingsBodyOverlayArrowContainer1 {
                        min-height: 32px;
                        min-width: 32px;
                        height: 32px;
                        width: 32px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(255, 255, 255, 0.85);
                        border-radius: 50%;
                        box-shadow: 0 0 10px rgba(75, 75, 75, 0.2);
                        position: absolute;
                        z-index: 99;
                        top: 32%;
                        left: 15px;
                        cursor: pointer;
                    }

                    .profileBodyListingsBodyOverlayArrowContainer2 {
                        min-height: 32px;
                        min-width: 32px;
                        height: 32px;
                        width: 32px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(255, 255, 255, 0.85);
                        border-radius: 50%;
                        box-shadow: 0 0 10px rgba(75, 75, 75, 0.2);
                        position: absolute;
                        z-index: 99;
                        top: 32%;
                        right: 15px;
                        cursor: pointer;
                    }

                        .fa-solid.fa-chevron-left.profileBodyListingsBodyOverlayArrow {
                            font-size: 14px;
                            opacity: 1;
                        }

                        .fa-solid.fa-chevron-right.profileBodyListingsBodyOverlayArrow {
                            font-size: 14px;
                            opacity: 1;
                        }

        .profileBodyReviewsContainer {
            height: 1000px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border-top: 1px solid rgba(160, 160, 160, 0.4);
            margin-top: 20px;
            padding-top: 20px;
        }

            .profileBodyReviewsHeaderContainer {
                height: 5%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;
            }

                .fa-solid.fa-star.profileBodyReviewsHeaderStar {
                    font-size: 15px;
                    margin-right: 8px;
                }

                .profileBodyReviewsHeaderText {
                    font-size: 20px;
                    font-weight: bold;
                }

            .profileBodyReviewsBodyContainer {
                height: 90%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                overflow-x: hidden;
                overflow-y: auto;
                border-top: 1px solid rgba(160, 160, 160, 0.2);
                padding-top: 20px;
            }

                .profileBodyReviewsBodyContainer::-webkit-scrollbar {
                    width: 6px;
                }

                .profileBodyReviewsBodyContainer::-webkit-scrollbar-track {
                    width: 6px;
                    border-radius: 5px;
                    background-color: rgba(165, 165, 165, 0.2);
                }

                .profileBodyReviewsBodyContainer::-webkit-scrollbar-thumb {
                    width: 6px;
                    border-radius: 5px;
                    background-color: rgba(165, 165, 165, 0.6);
                }

                .profileBodyReviewContainer {
                    min-height: 200px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-bottom: 40px;
                }

                    .profileBodyReviewTitleContainer {
                        height: 30%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                        .profileBodyReviewTitleContainerLeft {
                            height: 100%;
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                        }

                            .profileBodyReviewTitleText {
                                font-size: 16px;
                                font-weight: bold;
                                margin-bottom: 4px;
                            }

                            .profileBodyReviewDatePostedText {
                                font-size: 14px;
                                color: var(--gray);
                            }

                        .profileBodyReviewTitleContainerRight {
                            height: 100%;
                            width: 50%;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                        }

                            .profileBodyReviewTitleContainerRightPic {
                                height: 80%;
                                min-width: 80px;
                                width: 80px;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                object-fit: cover;
                                border-radius: 5px;
                            }

                    .profileBodyReviewText {
                        min-height: 30%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .profileBodyReviewProfileContainer {
                        height: 30%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .profileBodyReviewProfileContainerLeft {
                        height: 100%;
                        min-width: 50px;
                        width: 50px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }

                        .profileBodyReviewProfilePic {
                            min-height: 50px;
                            min-width: 50px;
                            height: 50px;
                            width: 50px;
                            object-fit: cover;
                            border-radius: 50%;
                        }

                    .profileBodyReviewProfileContainerRight {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        margin-left: 12px;
                    }

                    .profileBodyReviewProfileContainerRightName {
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    .profileBodyReviewProfileContainerRightJoinedDate {
                        font-size: 14px;
                        color: var(--gray);
                    }

.profileBodyRightIntroContainer2 {
    display: none;
}

.profileBodyHeaderContainer {
    display: none;
}

.profileBodyListingsBodyContainer2 {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1100px) {
    .profileBodyLeftContainer {
        display: none;
        width: 0;
    }

    .profileBodyRightContainer {
        width: 100%;
        padding: 0;
    }

    .profileBodyRightIntroContainer {
        display: none;
    }

    .profileBodyRightIntroContainer2 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .profileBodyHeaderContainer {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        border-bottom: 1px solid rgba(160, 160, 160, 0.2);
        padding: 0 60px;
        z-index: 100;
    }

    .profileBodyHeaderIconContainer {
        min-height: 36px;
        min-width: 36px;
        border-radius: 50%;
        border: 1px solid rgba(160, 160, 160, 0.4);
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .profileBodyRightIntroNameDateContainer2 {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .profileBodyRightIntroNameDateContainerLeft {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .profileBodyRightIntroNameDateContainerRight {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .profileBodyRightIntroNameDateContainerRightImage {
        min-height: 64px;
        min-width: 64px;
        max-height: 64px;
        max-width: 64px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .profileBodyRightIntroNameText {
        font-size: 26px;
    }
}

@media screen and (max-width: 900px) {
    .profileBodyContainer {
        padding: 0 60px;
        padding-top: 60px;
    }
}

@media screen and (max-width: 600px) {
    .profileBodyContainer {
        padding: 0 40px;
        padding-top: 60px;
    }

    .profileBodyHeaderContainer {
        padding: 0 40px;
    }

    .profileBodyRightIntroNameDateContainerLeft {
        width: 70%;
    }

    .profileBodyRightIntroNameDateContainerRight {
        width: 30%;
    }
}

@media screen and (max-width: 450px) {
    .profileBodyRightIntroAboutDesc {
        font-size: 15px;
    }

    .profileBodyReviewTitleText {
        font-size: 14px;
    }

    .profileBodyReviewText {
        font-size: 15px;
    }

    .profileBodyReviewProfilePic {
        min-height: 40px;
        min-width: 40px;
        max-height: 40px;
        max-width: 40px;
    }

    .profileBodyContainer {
        padding: 0 20px;
        padding-top: 60px;
    }

    .profileBodyHeaderContainer {
        padding: 0 20px;
    }
}
