.profileBodyContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px;
    margin-top: 50px;
}

    .profileBodyLeftContainer {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

        .profileBodyLeftUserInfoContainer {
            height: 250px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: 1px solid rgba(160, 160, 160, 0.4);
            padding: 20px;
            padding-bottom: 10px;
            padding-top: 0px;
        }

            .profileBodyLeftUserInfoUpperContainer {
                height: 80%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

                .profileBodyLeftUserInfoUpperPic {
                    height: 120px;
                    width: 120px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }

            .profileBodyLeftUserInfoLowerContainer {
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

                .fa-regular.fa-star.profileBodyLeftUserInfoLowerStar {
                    font-size: 20px;
                    margin-right: 7px;
                    margin-bottom: 2px;
                }

                .profileBodyLeftUserInfoLowerReviewText {
                    font-size: 15px;
                    font-weight: bold;
                }

    .profileBodyRightContainer {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 80px;
    }

        .profileBodyRightIntroContainer {
            height: 200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(160, 160, 160, 0.4);
        }

            .profileBodyRightIntroNameDateContainer {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

                .profileBodyRightIntroNameText {
                    font-size: 26px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .profileBodyRightIntroDateText {
                    font-size: 14px;
                    color: var(--gray);
                }

            .profileBodyRightIntroAboutContainer {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

                .profileBodyRightIntroAboutText {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 30px;
                }

                .profileBodyRightIntroLivesContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 30px;
                }

                    .fa-solid.fa-house.profileBodyRightIntroLivesHouse {
                        font-size: 16px;
                        margin-bottom: 3px;
                        margin-right: 8px;
                    }

                    .profileBodyRightIntroLivesText {
                        font-size: 15px;
                    }
